<!DOCTYPE html>
<htmk>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width initial-scale=1.0"/>
        <title>About_Page</title>
        <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <!--navbar_starting-->
        <header>
            <nav>
                
            </nav>
        </header>
        <!--navbar_ending-->
        
        <!--main_body_start-->
        <div>
            <!--jquery/popper/bootstrap.js_start-->
            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
            <!--jquery/popper/bootstrap.js_end-->
        </div>
        <!--main_body_end-->
        
        <!--footer_start-->
        <footer>
            
        </footer>
        <!--footer_end-->
    </body>
</htmk>